.margen{
    margin-bottom: 200px;
}
.icono{
    width: 80px;
    height: 80px;
}

.img_peque{
    width: 30px;
    height: 30px;
}
.margen_arriba{
    margin-top: 30px;
}
footer {
    background-color: #0d6efd;
    color: white;
}
@media (max-width: 767px) {
  .icono2 {
    display: none;
  }
}

@media (min-width: 768px) {
  .icono2 {
    width: 45px;
    height: 45px;
  }
}
