.icono{
    width: 80px;
    height: 80px;
}
.icono2{
    width: 45px;
    height: 45px;
}
img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}
.container {
    max-width: 500px;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.img_peque{
    width: 30px;
    height: 30px;
}
.margen{
    margin-top: 100px;
}
@media (max-width: 767px) {
  .icono2 {
    display: none;
  }
  .hidden{
    display: none;
  }
}

@media (min-width: 768px) {
  .icono2 {
    width: 45px;
    height: 45px;
  }
}

